/*
    - Strong cyan: hsl(172, 67%, 45%)
    - Very dark cyan: hsl(183, 100%, 15%)
    - Dark grayish cyan: hsl(186, 14%, 43%)
    - Grayish cyan: hsl(184, 14%, 56%)
    - Light grayish cyan: hsl(185, 41%, 84%)
    - Very light grayish cyan: hsl(189, 41%, 97%)
    - White: hsl(0, 0%, 100%)
*/

.container {
    width: 800px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.150);
}

.container label {
    color: hsl(183, 100%, 15%);
    text-transform: capitalize;
    font-weight: bold;
}

.set_values_calc {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.set_values_calc_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.input {
    width: 100%;
    height: 40px;
    background-color: hsl(189, 41%, 97%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.120);
}

.input span {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: right;
    padding: 0px 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: hsl(183, 100%, 15%);
}

.set_values_btn_group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.set_values_btn_group h3 {
    color: hsl(183, 100%, 15%);
}

.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.button {
    width: 120px;
    height: 50px;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s ease;
}

.button:active {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    transform: scale(.9);
}

.custom {
    width: 120px;
    height: 50px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: right;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.120);
}

.custom::placeholder {
    color: hsl(183, 100%, 15%);
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
}

.number_people {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
}

.number_people_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.number_people_header  span {
    font-weight: 700;
    font-size: 0.85rem;
    color: #f04;
}

.values_calculated {
    width: 100%;
    height: 100%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
} 

.calculated_display {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.tip_amount {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tip_amount_title {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

.tip_amount_title h4 {
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
}

.tip_amount_title span {
    font-size: 0.85rem;
    color: hsl(184, 14%, 56%);
}

.tip_amount_value {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
}

.total {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total_title {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

.total_title h4 {
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
}

.total_title span {
    font-size: 0.85rem;
    color: hsl(184, 14%, 56%);
}

.total_value {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(172, 67%, 45%);
}

.calculate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculate button {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    cursor: pointer;
}